html,
body {
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: auto;
  font-family: "apercu",sans-serif;
  /* height: 100%; */
  min-height: 100vh;
}

html {
	overscroll-behavior: contain;
	
	@media (prefers-reduced-motion: no-preference) {
		scroll-behavior: smooth;
	}
}


* {
  touch-action: manipulation;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-text: #fff;
  --color-bg: #000;
  --color-link: rgba(255, 255, 255, 0.5);
  --color-link-hover: #f8c5dc;
  --color-bg-slide: #171719;
}



:root {
	--textHeadingColor: rgb(117, 117, 117);
	--fill: hsl(258.1, 100%, 92%);
	--stroke: hsl(258.1, 100%, 66.9%);
}

:root {
  font-size: 14px;
  --color-text: #131313;
  --color-bg: #fff;
  --color-link: #000;
  --color-link-hover: #131313;
  --padding-sides: 2rem;
  --padding-row: 1rem;
  --color-row-border: #f0f0f0;
  --color-bg-row-hover: #f0f0f0;
  --color-text-alt: #000;
  --image-gap: 1vw;
  --image-gap-large: 2vw;
  --img-size: 5vw;
  --img-size-large: 14vw;
}


:root {
	font-size: 18px;
	--color-text: #5e5754;
	--color-title: #944d3e;
	--color-bg: #080808;
	--color-link: #5e5754;
	--color-link-hover: #5e5754;
	--color-switch-bg: #f1e4dd;
	--color-switch: #000;
	--color-switch-active: #c1b7b1;
	--color-heading: #f1e4dd;
}


:root{
--activeColor: rgb(240 240 240);
--navBgColor: rgb(37 38 41);
--navTextColor: rgb(144 144 150);
--mainBg: rgb(20 20 23);
}

